.ImagePicker {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.ImagePicker--layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.ImagePicker--form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.ImagePicker-image-containers {
  border: 3px solid rgb(103, 113, 228);
  border-radius: 8px;
  overflow: hidden;
}

.ImagePicker-image {
  min-width: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  transform: scale(1.05);
}

.select-option {
  margin-top: 0.4rem;
}
