* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

:root {
  --button-color: rgb(17, 91, 153);
  --border-color---primary: rgb(103, 113, 228);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2rem;
  border: 3px solid var(--border-color---primary);
  border-radius: 8px;
  max-width: 50rem;
  margin: auto;
  margin-top: 2rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 2rem;
  width: 60%;
  text-align: center;
  margin: auto;
}

.title {
}

.author {
}

.selector {
  display: flex;
  gap: 0.5rem;
  width: 80%;
}
