* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --button-color: rgb(17, 91, 153);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 2rem;
  border: 1px solid black;
  gap: 0.5rem;
  max-width: 50rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 2rem;
  width: 60%;
  text-align: center;
}

.title {
}

.author {
}

.selector {
  display: flex;
  gap: 0.5rem;
  width: 80%;
}
