:root {
  --container-width-max: 80rem;
  --container-height-max: 80rem;
  --container-width: 40rem;
  --container-height: 40rem;
  --item-height-min: 5rem;
  --item-width-min: 5rem;
  --gap-size: 0.8rem;
  --canvas-background: rgb(0, 0, 0);
  --box-shadow: 3px 3px 10px 1px rgba(211, 211, 211, 0.6);
}

.Canvas-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.Canvas {
  display: grid;
  padding: var(--gap-size);
  gap: var(--gap-size);
  width: var(--container-width);
  height: var(--container-height);
  max-width: var(--container-width-max);
  background-color: var(--canvas-background);
  overflow: hidden;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  justify-self: center;
}

.image-container {
  resize: both;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border: 3px solid rgb(103, 113, 228);
  max-height: 40rem;
  border-radius: 6px;
  background-color: white;
}

.grid-image {
  height: 100%;
  border-radius: 6px;
  object-fit: contain;
  pointer-events: none;
}

.selected-grid {
  border: 5px solid rgb(136, 187, 254);
  border-radius: 6px;
}
